<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../templates/static/css/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <h1>Gráfico Interativo com Plotly</h1>
   

    <div id="grafico" style="width: 800px; height: 500px;"></div>

    
    <script>
        var graficoJson = JSON.parse('{{ grafico_json|escapejs }}');
        console.log("Dados do gráfico:", graficoJson);

        // Renderizando o gráfico
        Plotly.newPlot('grafico', graficoJson.data, graficoJson.layout);
    </script>
    
</body>
</html>